@model Model.Entities.Activity
@{
    ViewBag.BoxTitle = "Edit Activity";
    ViewBag.Title = "Activities";
    Layout = "~/Views/Shared/_BoxInput.cshtml";
}
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Date" class="control-label"></label>
        <input asp-for="Date" class="form-control" />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="StartTime" class="control-label"></label>
        <input asp-for="StartTime" class="form-control" />
        <span asp-validation-for="StartTime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EndTime" class="control-label"></label>
        <input asp-for="EndTime" class="form-control" />
        <span asp-validation-for="EndTime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ProjectId" class="control-label"></label>
        <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.Projects">
            <option value=@null>None</option>
        </select>
        <span asp-validation-for="ProjectId" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save Changes" class="btn btn-default" />
        <a asp-action="Index" class="btn btn-default">Back</a>
    </div>
</form>