@model IEnumerable<TimeLineViewModel>

@{
    ViewBag.Title = "Activities";
}

@*@{
    <div class="alert alert-info alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4>Information</h4>
        <p>Here you can track your activities and see most recent ones. For the full history see the Reports section </p>
    </div>

    await Html.RenderPartialAsync("Create", new Activity() { Date = DateTime.Now });

    await Html.RenderPartialAsync("List");
}*@



<div id="react-app">Loading...</div>
@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
}
