@model Model.Entities.Project

@{
    ViewBag.BoxTitle = "Delete Project";
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_BoxInput.cshtml";
}
<form asp-action="Delete">
    <h3>Are you sure you want to delete this?</h3>
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="ClientId" class="control-label"></label>
        <input asp-for="ClientId" class="form-control" readonly value=@(Model.Client is null ? "None" : Model.Client.Name)/>
    </div>
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger">
        <a asp-action="Index" class="btn btn-default">Back</a>
    </div>
</form>
