<header class="main-header">
    <a asp-controller="Home" asp-action="Index" class="logo">
        <span class="logo-mini"><b>T</b>MT</span>
        <span class="logo-lg"><b>Track</b> My Time</span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav"></ul>
        </div>
    </nav>
</header>