<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <li><a asp-controller="Activity" asp-action="Index"><i class="fa fa-clock-o"></i> <span>Activities</span></a></li>
            <li><a asp-controller="Report" asp-action="Index"><i class="fa fa-file-excel-o"></i> <span>Reports</span></a></li>
            <li class="header">MANAGE</li>
            <li><a asp-controller="Project" asp-action="Index"><i class="fa fa-folder-o"></i> <span>Projects</span></a></li>
            <li><a asp-controller="Client" asp-action="Index"><i class="fa fa-user-circle-o"></i> <span>Clients</span></a></li>
        </ul>
    </section>
</aside>